div {
    padding-top: 2rem;
    * > input {
        font-size: 3rem;
        text-align: center;
        -webkit-border-radius: 0.75rem;
        -moz-border-radius: 0.75rem;
        border-radius: 0.75rem;
    }
}
